.footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #363636;
  color: #bfbfbf;
  text-align: center;
  padding: 0.3rem 0; 
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  border-top: 1px solid #ccc;
  line-height: 0.7; 
}

.page-container {
  position: relative;
  
  min-height: 100vh;
  background-color: #e5e5e5;
}


.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-title {
  font-size: 1rem;
  color: #bfbfbf;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.footer-link {
  color: #bfbfbf;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
 color: #bfbfbf;
}

.footer-credit {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  color: #bfbfbf;
}

.footer-credit .italic {
  font-style: italic;
  color: #bfbfbf;
}

