@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  @apply m-0 bg-zinc-100 text-zinc-900 antialiased;
  font-family: var(--font-display);
}

a {
  @apply text-inherit no-underline;
}
